<h1><%=@collection.name%></h1>

<%= image_tag @collection.image %>

<p><%=@collection.description%></p>

<ul>
  <%@collection.subjects.random(10).each do |subject|%>
    <li> <%= link_to(image_tag(subject.image_url, width:100), subject) %></li>
  <%end%>
</ul>
