<h1><%=@collection.name%></h1>

<div class='row'>
  <%= image_tag @collection.image, :class => "col-md-3" %>
  <p class='col-md-7'><%=@collection.description%></p>
</div>

<ul class="subjects-list">
  <% @collection.subjects.random(10).each do |subject| %>
    <li class="subject"><%= link_to(image_tag(subject.image_url, width: "100%"), subject) %></li>
  <% end %>
</ul>
